body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
}
.main-nav {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: #b71111;
    text-decoration: none;
}
#book-list {
    padding: 0 2rem;
}
.book {
    padding: 1rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
    display: grid; /* Use grid layout */
    grid-template-columns: 1fr; /* Single column by default */
}

.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0 10px; /* Reduce bottom margin to bring it closer to the image */
}

.book p {
    padding-left: 20px;
}

.book img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}

.book-details {
    text-align: right; /* Align to the right for smaller screens */
}

#desc {
    grid-column: 1/3;
}

@media (min-width: 600px) {

    .book {
        grid-template-columns: auto 1fr; /* Two columns for larger screens */
        column-gap: 20px; /* Add spacing between columns */
    }

    .book-details {
        text-align: left; /* Align to the left for larger screens */
        border-right: 3px solid yellow; /* Add a vertical yellow line */
        padding-right: 10px; /* Add spacing to the right of the line */
        margin-right: 20px; /* Add spacing between the line and the next content */
        grid-column: 1; /* Place book details in the first column */
    }

    .title, .cover, #desc {
        grid-column: 2; /* Place title, image, and description in the second column */
    }
}
