body {
  font-family: Palatino Linotype, sans-serif;
  background: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: #313131;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
  width: 50%;
  max-width: 600px;
  text-align: center;
}

.image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.name {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color: white;
  padding: 15px 0;
  background-color: #5d747b;
}

.stats {
  background: black;
  color: white;
  padding: 20px;
  text-align: left;
}

.stats p {
  margin: 10px 0;
}

.buttons {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background-color: #5d747b;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: #58605a;
}
