body {
    text-align: left;
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.italic {
    font-style: italic;
}

.footer-logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}